<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册-工作经历</title>
    <link rel="stylesheet" href="./css/post2.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/fa/css/all.css">

    
</head>

<body>
    <div class="top_bar">
        <div class="top_bar_content w">
            <div class="top_bar_left">
                <ul>
                    <li><a href="#">中文/English</a></li>
                    <li><a href="#">App 下载</a></li>
                </ul>
            </div>

            <div class="top_bar_right">
                <ul>
                    <li><a href="./login.html">登入</a></li>
                    <li><a href="#">职场百科</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="background ">
        <div class="main">
            <div class="inner">
                <div class="inner_top">
                    <div class="inner_top_content">
                        <a class="saveandexit" href="./login.html">保存并退出</a>
                        <a class="backpage" href="./index.html"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>

                <div class="title">
                    <span>发布职位</span><br>
                </div>


                <form action="#" class="form">
                    <div class="education">
                        <div class="educationform">
                            <input class="schoolname" type="text" placeholder="职位名称">
                            <br>
                            <input class="major" type="text" placeholder="招聘人数">
                            <input class="schoolcity" type="text" placeholder="公司所在城市">

                            

                            <div class="educationmin">最低学历：
                                <ul>
                                    <li><a href="#">不限</a></li>
                                    <li><a href="#">初中</a></li>
                                    <li><a href="#">高中</a></li>
                                    <li><a href="#">本科</a></li>
                                    <li><a href="#">研究生</a></li>
                                    <li><a href="#">博士</a></li>

                              </ul>
                            </div>
                            
                            <div class="experiencemin">经验要求：
                                <ul>
                                    
                                    <li><a href="#">不限</a></li>
                                    <li><a href="#">1年以内</a></li>
                                    <li><a href="#">1-2年</a></li>
                                    <li><a href="#">3-5年</a></li>
                                    <li><a href="#">6-10年</a></li>
                                    <li><a href="#">10年以上</a></li>

                              </ul>
                            </div>

                            <div class="jobtype">职位类型：
                                <ul>
                                    <li><a href="#">全职</a></li>
                                    <li><a href="#">兼职</a></li>
                                    <li><a href="#">暂时工作</a></li>
                              </ul>
                            </div>

                            <div class="remote">是否远程：
                                <ul>
                                    <li><a href="#">是</a></li>
                                    <li><a href="#">否</a></li>
                                    <li><a href="#">混合</a></li>
                              </ul>
                            </div>

                            <textarea class="mytextarea" id="mytextarea" name="mytextarea">

职位描述：

1. 
2. 
3. 
4. 
5. 
6. 

职位要求：

1. 
2. 
3. 
4. 
5. 
6. 

                              </textarea>

                              <div class="salary">
                                  薪资：<input type="range">
                              </div>

                              <div class="benefit">提供福利：
                                <ul>
                                      <li><a href="#">健康保险</a></li>
                                      <li><a href="#">法定节假日</a></li>
                                      <li><a href="#">带薪病假</a></li>
                                      <li><a href="#">带薪年假</a></li>
                                      <li><a href="#">401k</a></li>
                                      <li><a href="#">牙科保险</a></li>
                                      <li><a href="#">分红</a></li>
                                      <li><a href="#">股票</a></li>

                                </ul>
                              </div>
                        </div>
                    </div>
                </form>

                <input class="save" type="submit" value="发布">

            </div>
        </div>
    </div>

</body>

</html>