<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发布1-公司信息</title>

    <link rel="stylesheet" href="./css/register_s1.css">

    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/fa/css/all.css">
</head>
<body>

    <div class="top_bar">
        <div class="top_bar_content w">
            <div class="top_bar_left">
                <ul>
                    <li><a href="#">中文/English</a></li>
                    <li><a href="#">App 下载</a></li>
                </ul>

            </div>
            <div class="top_bar_right">
                <ul>
                    <li><a href="./login.html">登入</a></li>
                    <!-- <li class="spliter">/</li> -->
                    <!-- <li><a href="#">登入</a></li> -->
                    <!-- <li><a href="#">我要招聘</a></li>
                    <li><a href="#">找工作</a></li> -->
                    <li><a href="#">职场百科</a></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="login_form ">
        <div class="login_main">
            <div class="login_form_inner">
                <div class="registration_container">
                    <div class="registration">
                        <span>
                            <a href="./login.html">保存并退出</a>
                        </span>
                        <a href="./index.html"><i class="fas fa-arrow-left"></i></a>
                        
                    </div>

                </div>

                <form action="#" class="real_form">
                    <span>公司信息</span><br>
                    <input class="firstname" type="text" placeholder="公司名称">
                    <input class="lastname" type="text" placeholder="公司规模"><br>
                    <input class="phonenumber" type="text" placeholder="所在行业"><br>
                    <input class="phonenumber" type="text" placeholder="电话号码">
                    <br>
                    <input class="address" type="text" placeholder="街道">
                    <br>
                    <input class="city_state" type="text" placeholder="城市、州">
                    <input class="zipcode" type="text" placeholder="邮编">
                    <!-- <div><a href="#">忘记秘密？</a></div> -->
                    <input class="submit" type="submit" value="下一步">
                </form>

            </div>


        </div>

    </div>




</body>

</html>