<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册-教育经历</title>

    <link rel="stylesheet" href="./css/register_s2.css">

    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/fa/css/all.css">
</head>

<body>

    <div class="top_bar">
        <div class="top_bar_content w">
            <div class="top_bar_left">
                <ul>
                    <li><a href="#">中文/English</a></li>
                    <li><a href="#">App 下载</a></li>
                </ul>

            </div>
            <div class="top_bar_right">
                <ul>
                    <li><a href="./login.html">登入</a></li>
                    <!-- <li class="spliter">/</li> -->
                    <!-- <li><a href="#">登入</a></li> -->
                    <!-- <li><a href="#">我要招聘</a></li>
                    <li><a href="#">找工作</a></li> -->
                    <li><a href="#">职场百科</a></li>

                </ul>
            </div>
        </div>
    </div>


    <div class="background ">
        <div class="main">
            <div class="inner">
                <div class="inner_top">
                    <div class="inner_top_content">
                        <a class="saveandexit" href="./login.html">保存并退出</a>
                        <a class="backpage" href="./index.html"><i class="fas fa-arrow-left"></i></a>
                        
                    </div>
                    

                </div>

                <div class="title">
                    <span >教育经历</span><br>
                </div>

                <div class="edudetail">
                    <ul class="edutable">
                        <li><span>江西师范大学</span>
                            <span>本科</span>
                            <span>材料科学</span>
                        </li>
                        <li><span>南昌</span>
                            <span>中国</span>
                        <li><span>2009/09</span> to
                            <span>2013/07</span>
                        </li>
                    </ul>

                    <ul class="eduedit">
                        <li>
                            <a href="#"><i class="fas fa-edit"></i></a>
                        </li>
                    </ul>

                </div>

                <ul style="float: right; color: blue;">
                    <a href="#"><i class="fas fa-plus"></i></a>
                </ul>

                <form action="#" class="form">
                    <div class="education">
                        <div class="educationform">
                            <input class="schoolname" type="text" placeholder="学校名称">
                            <br>
                            <input class="schoolname" type="text" placeholder="获得学位">
                            <br>
                            <input class="major" type="text" placeholder="专业名称">
                            <input class="schoolcity" type="text" placeholder="学校城市">
                            <input class="schoolstart" type="month" min="1949-01" value="2021-01" placeholder="入学时间">
                            to
                            <input class="graduatetime" type="month" min="1949-01" value="2021-01" placeholder="毕业时间">
                        </div>
                    </div>
                </form>

                <input class="save" type="submit" value="保存">
                <input class="next" type="submit" value="下一步">


            </div>

        </div>
    </div>






</body>

</html>